# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages used by Data Scientists
* List commonly used libraries for Data Science
* List some tools used for Data Science
* Look at examples of evaluating simple calculations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

|Data Science Tools|
--------------------
|JupyterLab|
|RStudio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Doris